PORT=5050
PUBLIC_APP_URL=https://bamsignal-phi.vercel.app
DATABASE_URL=postgres://USER:PASSWORD@HOST:5432/bamsignal
PGSSLMODE=require

TELEGRAM_BOT_TOKEN=
TELEGRAM_FREE_CHANNEL_ID=
TELEGRAM_VIP_GROUP_ID=
TELEGRAM_ENABLE_POLLING=false

FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account"}

PAYSTACK_SECRET_KEY=

LIVE_SCORE_API_URL=
LIVE_SCORE_API_KEY=

AFFILIATE_1XBET_URL=
AFFILIATE_BETKING_URL=
AFFILIATE_SPORTYBET_URL=
AFFILIATE_BET9JA_URL=
AFFILIATE_BETWAY_URL=
