node_modules/
dist/
build/
.vercel/

.DS_Store

android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/deploymentTargetSelector.xml
android/.idea/deviceManager.xml

ios/App/Pods/
ios/App/build/
ios/App/DerivedData/
ios/App/*.xcuserstate
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/

*.apk
*.aab
*.ipa
.vercel
logo_light/
assets/generated/
